@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-light: #60a5fa;
  --brand-main: #3b82f6;
  --brand-dark: #2563eb;
  --gradient-start: #3b82f6;
  --gradient-end: #8b5cf6;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased font-sans;
}
