@import "tailwindcss";

:root {
  --brand-light: #60a5fa;
  --brand-main: #3b82f6;
  --brand-dark: #2563eb;
  --gradient-start: #3b82f6;
  --gradient-end: #8b5cf6;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}
